<ul>
  <li>
    Slika
    <img
      src="../../../assets/mvujica21.jpeg"
      alt="moja slika"
      width="150"
      height="150"
    />
  </li>
  <li>Mateo Vujica</li>
  <li>mvujica21&#64;foi.hr</li>
  <li>
    Era model:
    <a href="../../../assets/ERA_model_MateoVujica.png"
      ><img
        src="../../../assets/ERA_model_MateoVujica.png"
        alt="ERA Model"
        width="800"
        height="600"
    /></a>
  </li>
  <li>
    Dodatne info: nije izrađen dnevnik i kod prikaza filmova straničenje ne radi, ne šalje mail prilikom registracije.
    Iz 2. zadace ne radi github login, jwttoken nije potreban za pretrazivanje filmova.
  </li>
</ul>
<table class="tg">
  <thead>
    <tr>
      <th class="tg-0lax">Resurs parametri</th>
      <th class="tg-0lax">GET čitanje</th>
      <th class="tg-0lax">POST kreiranje</th>
      <th class="tg-0lax">PUT ažuriranje</th>
      <th class="tg-0lax">DELETE brisanje<br /></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="tg-0lax">baza/korisnici</td>
      <td class="tg-0lax">NAPRAVLJENO<br /></td>
      <td class="tg-0lax">NAPRAVLJENO, ne šalje mail</td>
      <td class="tg-0lax">NAPRAVLJENO<br /></td>
      <td class="tg-0lax">NAPRAVLJENO</td>
    </tr>
    <tr>
      <td class="tg-0lax">baza/korisnici/korime</td>
      <td class="tg-0lax">NAPRAVLJENO</td>
      <td class="tg-0lax">NAPRAVLJENO</td>
      <td class="tg-0lax">NAPRAVLJENO</td>
      <td class="tg-0lax">NAPRAVLJENO</td>
    </tr>
    <tr>
      <td class="tg-0lax">baza/korisnici/korime/prijava</td>
      <td class="tg-0lax">NAPRAVLJENO</td>
      <td class="tg-0lax">NAPRAVLJENO</td>
      <td class="tg-0lax">NAPRAVLJENO</td>
      <td class="tg-0lax">NAPRAVLJENO</td>
    </tr>
    <tr>
      <td class="tg-0lax">baza/favoriti</td>
      <td class="tg-0lax">NAPRAVLJENO</td>
      <td class="tg-0lax">NAPRAVLJENO</td>
      <td class="tg-0lax">NAPRAVLJENO</td>
      <td class="tg-0lax">NAPRAVLJENO</td>
    </tr>
    <tr>
      <td class="tg-0lax">baza/favoriti/id</td>
      <td class="tg-0lax">NAPRAVLJENO</td>
      <td class="tg-0lax">NAPRAVLJENO</td>
      <td class="tg-0lax">NAPRAVLJENO</td>
      <td class="tg-0lax">NAPRAVLJENO</td>
    </tr>
    <tr>
      <td class="tg-0lax">
        baza/dnevnik<br />?stranica=broj<br />&amp;sortiraj=[d | m]<br />[&amp;datumOd=datum]<br />[&amp;datumDo=datum]<br />[&amp;vrijemeOd=vrijeme]<br />[&amp;vrijemeDo=vrijeme]
      </td>
      <td class="tg-0lax"></td>
      <td class="tg-0lax">NAPRAVLJENO</td>
      <td class="tg-0lax">NAPRAVLJENO</td>
      <td class="tg-0lax">NAPRAVLJENO</td>
    </tr>
  </tbody>
</table>
<table class="tg">
  <thead>
    <tr>
      <th class="tg-0lax">Uloga</th>
      <th class="tg-0lax">Stranica/e</th>
      <th class="tg-0lax">Opis</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="tg-0lax">Gost</td>
      <td class="tg-0lax">Početna</td>
      <td class="tg-0lax">
        NAPRAVLJENO, stranićenje radi, ali ne koristi iz konf datoteke
      </td>
    </tr>
    <tr>
      <td class="tg-0lax">Gost/Korisnik</td>
      <td class="tg-0lax">SerijaDetalji</td>
      <td class="tg-0lax">NAPRAVLJENO</td>
    </tr>
    <tr>
      <td class="tg-0lax">Gost</td>
      <td class="tg-0lax">Dokumentacija</td>
      <td class="tg-0lax">NAPRAVLJENO</td>
    </tr>
    <tr>
      <td class="tg-0lax">Gost</td>
      <td class="tg-0lax">Prijava/Odjava</td>
      <td class="tg-0lax">NAPRAVLJENO</td>
    </tr>
    <tr>
      <td class="tg-0lax">Korisnik</td>
      <td class="tg-0lax">Profil</td>
      <td class="tg-0lax">NAPRAVLJENO</td>
    </tr>
    <tr>
      <td class="tg-0lax">Korisnik</td>
      <td class="tg-0lax">Favoriti</td>
      <td class="tg-0lax">NAPRAVLJENO</td>
    </tr>
    <tr>
      <td class="tg-0lax">Korisnik</td>
      <td class="tg-0lax">FavoritiDetalji</td>
      <td class="tg-0lax">NAPRAVLJENO</td>
    </tr>
    <tr>
      <td class="tg-0lax">Admin</td>
      <td class="tg-0lax">Registracija</td>
      <td class="tg-0lax">NAPRAVLJENO</td>
    </tr>
    <tr>
      <td class="tg-0lax">Admin</td>
      <td class="tg-0lax">Korisnici</td>
      <td class="tg-0lax">NAPRAVLJENO</td>
    </tr>
    <tr>
      <td class="tg-0lax">Admin</td>
      <td class="tg-0lax">Dnevnik</td>
      <td class="tg-0lax"></td>
    </tr>
  </tbody>
</table>
<table>
  <thead>
        <th>Zadaca 02 zahtjevi</th>
  </thead>
  <tbody>
    <tr>
        <td class="tg-0pky">1</td>
        <td class="tg-0pky">
          Na stranicu dokumentacija ažurirati tablice iz prve zadaće oko
          informacija koji dijelovi su<br />napravljeni za servis odnosno
          aplikaciju. Ako je nešto napravljeno dijelomično treba to jasno<br />napisati
          koji dio je napravljen. Ako ovog dijela nema bodovi vezani uz web
          aplikaciju i/ili web<br />servis nose 0 bodova.
        </td>
        <td class="tg-0pky">Napravljeno</td>
      </tr>
    <tr>
      <td class="tg-0pky">2</td>
      <td class="tg-0pky">
        Na stranicu dokumentacija kreirati tablicu po koracima (počevši od
        zadaci općenito) ovog<br />dokumenta u kojoj jasno pišu elementi opisa 2
        zadaće koji su napravljeni, koji nisu. Ako ovog<br />dijela nema zadaća
        nosi 0 bodova. Može se napraviti još jedna tablica sa dodatnim opisima
        ako<br />se želi nešto naglasiti. Nije obavezno.
      </td>
      <td class="tg-0pky">Napravljeno</td>
    </tr>
    <tr>
      <td class="tg-0pky">3</td>
      <td class="tg-0pky">
        Složite package.json tako da se sa npm start može pokrenuti server i
        isto tako jedan<br />package.json, tsconfig.json i angular.json da se
        može pokrenuti angular projekt.
      </td>
      <td class="tg-0pky">Napravljeno</td>
    </tr>
    <tr>
      <td class="tg-0pky">4</td>
      <td class="tg-0pky">
        Kod predavanja zadaće izbrisati svoje ključeve za TMDB servis iz
        konfiguracijske datoteke svaki<br />student ubacuje svoje ključeve u
        konfiguracijsku datoteku kod testiranja.
      </td>
      <td class="tg-0pky">Napravljeno</td>
    </tr>
    <tr>
      <td class="tg-0pky">5</td>
      <td class="tg-0pky">
        Klientski dio Web Aplikacije HTML, CSS i JS na strani klijenta prebaciti
        u Angular sa<br />TypeScript-om.
      </td>
      <td class="tg-0pky">Napravljeno</td>
    </tr>
    <tr>
      <td class="tg-0pky">6</td>
      <td class="tg-0pky">
        Pozadinski dio web aplikacije poslužuje kompajliranu verziju Angular
        aplikacije. Moguće je<br />pokretanje Angular aplikacije preko live
        servera sa ng serve, ali ta varijanta nosi manje bodova.
      </td>
      <td class="tg-0pky">Napravljeno</td>
    </tr>
    <tr>
      <td class="tg-0pky">7</td>
      <td class="tg-0pky">
        Pozadinski dio web aplikacije poslužuje dokumentaciju - moguće je
        dokumentaciju ugraditi u<br />samu angular aplikaciju.
      </td>
      <td class="tg-0pky">Napravljeno</td>
    </tr>
    <tr>
      <td class="tg-0pky">8</td>
      <td class="tg-0pky">
        Pozadinski dio web aplikacije nudi podršku u obliku REST servisa. REST
        servis sadrži sve<br />metode kako je to bilo u prvoj zadaći za rad s
        bazom podataka. Dodatno svi ostali pozadinski<br />dijelovi prve zadaće
        (npr. komunikacija sa TMDB servisom) koji nemaju direktne veze s
        bazom<br />se sada tretiraju kao proširenje REST servisa jer klijentski
        dio aplikacije sada mora slati sve preko<br />fetch zahtjeva. Angular
        aplikacija nikad ne komunicira direktno sa TMDB servisom već preko<br />pozadinskog
        dijela kao u prvoj zadaći
      </td>
      <td class="tg-0pky"></td>
    </tr>
    <tr>
      <td class="tg-0pky">9</td>
      <td class="tg-0pky">
        Sada svi pozadinski dijelovi osim inicialnog posluživanja Angular
        aplikacije i prijave traže<br />validan JWT.
      </td>
      <td class="tg-0pky"></td>
    </tr>
    <tr>
      <td class="tg-0pky">10</td>
      <td class="tg-0pky">
        Informacije o bazičnoj adresi i portu za pozadinski dio koji koristi
        Angular aplikacija kod slanja<br />fetch zahtjeva čitaju se iz
        environment datoteke. Hard kodirana varijanta nosi manje bodova.
      </td>
      <td class="tg-0pky">Napravljeno</td>
    </tr>
    <tr>
      <td class="tg-0pky">11</td>
      <td class="tg-0pky">
        Potrebno je doraditi dizajn stranice ako u prvoj zadaći niste vodili o
        tome previše računa. Dizajn<br />treba prebaciti korištenjem Sass
        preprocesora u Sass ili Scss sintaksi. Čisti CSS ili bootstrap<br />varijante
        nose 0 bodova.
      </td>
      <td class="tg-0pky">Napravljeno</td>
    </tr>
    <tr>
      <td class="tg-0pky">12</td>
      <td class="tg-0pky">
        Dodati reCaptcha v3 sustav na minimalno 3 obrazaca od kojih su obavezni:
        prijava, registracija i<br />ažuriranje profila.
      </td>
      <td class="tg-0pky">Napravljeno</td>
    </tr>
    <tr>
      <td class="tg-0pky">13</td>
      <td class="tg-0pky">
        Potrebno je doraditi ažuriranje profila sa opcijom da se uključi
        dvorazinska autentifikacija.<br />Prilikom prvog uključivanja
        dvorazinske autentifikacije potrebno je kreirati tajni ključ koji se<br />sprema
        u bazu i prikazuje korisniku utekstualnom obliku ili u obliku QR koda
        (za dodatne<br />bodove). Korisnik može isključiti dvorazinsku
        autentifikaciju ili ponovo uključiti, ali više nema<br />prikaza tajnog
        ključa.
      </td>
      <td class="tg-0pky">Napravljeno</td>
    </tr>
    <tr>
      <td class="tg-0pky">14</td>
      <td class="tg-0pky">
        Potrebno je doraditi prijavu da se autentifikacija radi u dvije razine.
        Prvo korisničko ime i lozinka<br />te nakon toga TOTP ako je uključena
        dvorazinska autentifikacija za tog korisnika.
      </td>
      <td class="tg-0pky">Napravljeno</td>
    </tr>
    <tr>
      <td class="tg-0pky">15</td>
      <td class="tg-0pky">
        Potrebno je doraditit prijavu da omogućuje mogućnost prijave sa oAuth
        putem GitHub računa.<br />Takav korisnik nema TOTP.
      </td>
      <td class="tg-0pky"></td>
    </tr>
    <tr>
      <td class="tg-0pky">16</td>
      <td class="tg-0pky">
        Korisnik koji se prijavi preki GitHub računa ne radi ništa s bazom
        podatka. Kod takvog korisnika<br />spremanje favorita se radi u
        preglednikov local storage. Jednako tako pregled favorita i<br />favoritDetalji
        se čitaju iz local storage u pregledniku. Stranica profila nije
        dostupna.
      </td>
      <td class="tg-0pky"></td>
    </tr>
    <tr>
      <td class="tg-0pky">17</td>
      <td class="tg-0pky">
        Inicijalno mora postojati korisnik iz svake uloge koji nema TOTP i treba
        navesti podatke na<br />stranici prijava radi lakšeg testiranja.
      </td>
      <td class="tg-0pky">Napravljeno</td>
    </tr>
    <tr>
      <td class="tg-0pky">18</td>
      <td class="tg-0pky">
        Za dodatne bodove može se prebaciti cijeli pozadinski dio u TypeScript.
        Kod pokretanja sa npm<br />start obavezno se mora napraviti recompile
        TypeScript-a i kopiranje svih bitnih statičnih sadržaja<br />da
        aplikacija normalno radi.
      </td>
      <td class="tg-0pky"></td>
    </tr>
  </tbody>
</table>
